// Re(sets)
p, form, fieldset, img {
	border:none;
	margin:0;
	padding:0;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, main { display:block; }

// Site BG Colour
$site-bg-colour:		#FFF  !default;

// Base Font Sizes
$base-font-size:		10px  !default;
$base-line-height:		24px  !default;

// Baseline
$baseline-x:			6px !default;

// Text colours
$colour-text:			#000 !default;

// Link colours
$colour-anchor:			#00F !default;
$colour-anchor-hover:	#F00 !default;

// Grid
$columns:				8		!default;
$column-width:			128px	!default;
$gutter-width:			32px	!default;

// Headings
$h1-size:            	36px !default; // .alpha
$h2-size:            	30px !default; // .bravo
$h3-size:            	24px !default; // .charlie
$h4-size:            	20px !default; // .delta
$h5-size:            	16px !default; // .echo
$h6-size:            	14px !default; // .foxtrot

$h1-line-height:     	36px !default; // .alpha
$h2-line-height:     	30px !default; // .bravo
$h3-line-height:     	24px !default; // .charlie
$h4-line-height:     	20px !default; // .delta
$h5-line-height:     	16px !default; // .echo
$h6-line-height:     	14px !default; // .foxtrot