@import "defaults";
@import "vars";

@import "core/flex";
@import "core/mixins";
@import "core/vendor";
@import "core/grid";
@import "core/fonts";
@import "core/headings";
@import "core/misc";

html {
	font-size:$base-font-size;
}

body {
	margin:0;
	padding:0;

	background:$site-bg-colour;

	color:$colour-text;
	font-family:Verdana, sans-serif;
	@include rem(font-size, 10px);
	@include rem(line-height, 24px);

	text-rendering:optimizeLegibility;
}

* {
	-webkit-text-size-adjust:none;
}

input, textarea, select {
	font-family:Verdana, sans-serif;
	margin:0;
}

a {
	color:$colour-anchor;
}

a:hover, a:focus {
	color:$colour-anchor-hover;
}

ul {
	list-style:none;
	margin:0;
	padding:0;

	li {
		margin:0;
		padding:0;
	}
}

p { margin:0 0 24px; }

img { max-width:100%; height:auto; }

.full {
	width:100%;

	> .sleeve {
		width:100%;
		max-width:1024px;
		margin:0 auto;
		padding:0 40px;
	}
}

.mast-head {
	.sleeve {

	}
}