// Project Specific Vars
// $baseline-x:			6px;

// Text colours
// $colour-text: 			#000;

// Link colours
// $colour-anchor:			#000;
// $colour-anchor-hover:	#000;

// Heading Sizes
// $h1-size:			42px;
// $h2-size:			28px;
// $h3-size:			16px;
// $h4-size:			16px;
// $h5-size:			14px;
// $h6-size:			12px;

// $h1-line-height: 	44px;
// $h2-line-height: 	36px;
// $h3-line-height: 	24px;
// $h4-line-height: 	22px;
// $h5-line-height: 	20px;
// $h6-line-height: 	18px;

// Grid
$columns:				6;
$column-width:			220px;
$gutter-width:			20px;

$grid-width:				($column-width * $columns);
$grid-width-full:		($column-width * $columns) + ($gutter-width * ($columns - 1));