@mixin display-flex() {
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
}

@mixin order($val) {
	-ms-flex-order:$val;
	-webkit-order:$val;
	order:$val;
}

@mixin flex($values) {
	-ms-flex:$values;
	-webkit-flex:$values;
	flex:$values;
}

@mixin flex-direction($val) {
	-ms-flex-direction:$val;
	-webkit-flex-direction:$val;
	flex-direction:$val;
}

@mixin align-self($where) {
	-ms-flex-item-align:$where;
	-webkit-align-self:$where;
	align-self:$where;
}

@mixin justify-content($where) {
	@if $where == "space-between" { -ms-flex-pack:justify; }
	@elseif $where == "flex-start" { -ms-flex-pack:start; }
	@elseif $where == "flex-end" { -ms-flex-pack:end; }
	@else { -ms-flex-pack:$where; }

	-webkit-justify-content:$where;
	justify-content:$where;
}

@mixin flex-wrap($how) {
	-ms-flex-wrap:$how;
	-webkit-flex-wrap:$how;
	flex-wrap:$how;
}