@mixin rem($property, $value) {
	#{$property}: $value;
	//#{$property}: ($value / $base-font-size) * 1rem;
}

@mixin smoothing() {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}