* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

// Percentage calculator helper function.
@function perc($width, $context: $grid-width) {
	@return percentage($width / $context);
}

// Grid width calculator function
@function g($n: 1, $context: $grid-width-full) {
	@return perc(($column-width * $n) + ($gutter-width * ($n - 1)), $context);
}

@function gw($context: $grid-width-full) {
	@return perc($gutter-width, $context);
}

// Grid context width calculator function
@function gcw($n: 1) {
	@return $column-width * $n;
}

// Column
.c {
	float:left;

	&:last-child {
		margin-right:0;
	}
}

// Grid width classes
@for $i from 1 through $columns {
	.g#{$i} { @extend .c; width:g($i); margin-right:gw(); }
}