@function base64($string, $type: image/png) {
	@return url(data:#{$type};base64,#{$string});
}

// Baseline unit calculations
@function bl-x($amount: 1) {
	@return floor($baseline-x * $amount);
}

// Styling Placeholder text
@mixin placeholder($selector) {
	#{$selector}::-webkit-input-placeholder		{ @content; }
	#{$selector}:-moz-placeholder				{ @content; }
	#{$selector}::-moz-placeholder				{ @content; }
	#{$selector}:-ms-input-placeholder			{ @content; }
	#{$selector}:-o-input-placeholder			{ @content; }
}

// Clearfix include for use within @media
@mixin cf() {
	min-height:1px;

	&:after {
		content:"";
		display:table;
		clear:both;
	}
}

// Clearfix, @extend this to prevent classes appearing all over your markup
.cf {
	@include cf();
}

// Used to hide elements off screen
.hide {
	position:absolute;
	left:-9999px;
	height:0;
	overflow:hidden;
}

// Used to hide elements w/ display none
.hide-true {
	display:none;
}