@mixin calc($property, $expression...) {
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

@mixin transition($transition) {
	-moz-transition:		$transition;
	-o-transition:			$transition;
	-ms-transition:			$transition;
	-webkit-transition:		$transition;
	transition:				$transition;
}

@mixin transform($transformation) {
	-moz-transform:			$transformation;
	-o-transform:			$transformation;
	-ms-transform:			$transformation;
	-webkit-transform:		$transformation;
	transform:				$transformation;
}